:root{
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --lightblack: hsl(0, 0%, 7%);
    --grey: hsl(0, 0%, 53%);
    --lightgrey: hsl(0, 0%, 83%);
    --darkgrey: hsl(0, 0%, 66%);
    --transparent: hsla(0, 0%, 0%, 0);
    --purple: rgb(80, 0, 80);
    --lightpurple: rgb(88, 25, 88);
    --red: hsl(0, 100%, 50%);
}

body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    min-height: 100vh;
    flex-wrap: wrap;
    gap: 2rem;
}       

.circle__wrap{
    display: grid;
    grid-template-columns: repeat(1, 160px);
    width: 150px;
    height: 150px;
    background-color: lightgray;
    border-radius: 50%;
}

.circle__wrap .circle .mask,
.circle__wrap .circle .fill__1,
.circle__wrap .circle .fill__2,
.circle__wrap .circle .fill__3{
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
}

.circle__wrap .circle .mask{
    clip: rect(0px, 150px, 150px, 75px);
}
/* ----------------------------------------------- */
.mask .fill__1{
    clip: rect(0px, 75px, 150px, 0px);
    background-color: var(--red);
}

.mask.full__1,
.circle .fill__1{
    animation: fill_1 ease-in-out 3s;
    transform:  rotate(135deg);
}

@keyframes fill_1 {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(135deg);}
}

/* ----------------------------------------------- */
.mask .fill__2{
    clip: rect(0px, 75px, 150px, 0px);
    background-color: var(--grey);
}

.mask.full__2,
.circle .fill__2{
    animation: fill_2 ease-in-out 3s;
    transform:  rotate(117deg);
}

@keyframes fill_2 {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(117deg);}
}

/* ----------------------------------------------- */
.mask .fill__3{
    clip: rect(0px, 75px, 150px, 0px);
    background-color: var(--purple);
}

.mask.full__3,
.circle .fill__3{
    animation: fill_3 ease-in-out 3s;
    transform:  rotate(135deg);
}

@keyframes fill_3 {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(135deg);}
}
/* 
.inside__circle{
    width: 124px;
    height: 124px;
    border-radius: 50%;
    background-color: var(--darkgrey);
    line-height: 120px;
    position: absolute;
    margin-top: 13px;
    margin-left: 13px;
    z-index: 100;
    font-size: 2rem;
    font-weight: 900;
    color: var(--white);
    text-align: center;
    font-family: system-ui;
} */


.circle{
    position: relative;
    width: 150px;
}


.inside__circle{
    display: grid;
    position: absolute;
    width: 124px;
    height: 124px;
    inset: 13px;
    border-radius: 50%;
    background-color: var(--darkgrey);
    line-height: 120px;
    z-index: 100;
    font-size: 2rem;
    font-weight: 900;
    color: var(--white);
    text-align: center;
    font-family: system-ui;
}